
.stdfooter {
    clear: both;
}

.tei-word.highlight, .tei-aligned-word.highlight {
    background-color: yellow;
}

#tei-tools {
    float: right;
    width: 25%;
    margin-top: .5em;
    right: -25%;
    margin-left: 1em;  
}

#tei-lemmas,#tei-analyses {
    overflow: scroll;
    border: 1px solid black;
    padding: 1em;
    height: 400px;
  
}

#tei-syntax-frame {
    position: absolute;
    bottom: -10em;
    left: .5em;
    width: 70%;
}

.tei-aligned-text {
    float: right;
    right: -40%;
    width: 40%;
    /** overflow: scroll;
    border: 1px solid black; **/
    padding: 1em;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
  opacity: 0.5;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.highlight-theme {
    background-color: brown;
    opacity: 0.5;
}
.click-theme {
    background-color: brown;
    opacity: 1;
}
.bar.click-theme, .bar.click-theme:hover {
  fill: brown;
  opacity: 1;
}

#hideictframe {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    text-align: right;
    width: 96%;    
}

img {
    cursor: pointer;
}

.mainAuthor, .mainEditor {
    font-style:italic;
    font-size: smaller;
}

.tei_body, .tei-aligned-text {
    max-height: 800px;
    overflow: scroll;
}
